
@import "@shoelace-style/shoelace/dist/themes/light.css";

@font-face {
  font-family: "Josefin Sans";
  src: url("JosefinSans-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("Mulish-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("Mulish-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

:root {
  --header-fam: "Josefin Sans";
  --body-fam: "Mulish";
  --max-body-width: 960px;

  --electric-bright: #5dd6f5;
  --electric-dark: #517ef5;
  --deeper-bright: #0a0c4d;
  --deeper-dark: #0d0d0d;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--body-fam);
  height: 100%;
}
main {
  max-width: var(--max-body-width);
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header"
    "body"
  ;
  height: 100%;
}
main header {
  display: flex;
  align-items: center;
  grid-area: header;
}
h1 {
  font-family: var(--header-fam);
  font-weight: 900;
  text-decoration: underline;
  color: var(--deeper-bright);
  text-decoration-color: var(--electric-bright);
  text-decoration-thickness: 10px;
  flex-grow: 1;
}
main header img {
  margin-right: -6px;
}
pg-root, main > section {
  grid-area: body;
  /* 82px is the empiral height of the header, likely wrong */
  max-height: calc(100vh - (82px + var(--sl-spacing-large)));
}
a {
  color: var(--electric-dark);
  text-decoration-thickness: 1px;
  text-decoration-color: var(--electric-bright);
  transition: text-decoration-thickness .2s;
}
a:hover {
  text-decoration-thickness: 3px;
}
