
@import "@shoelace-style/shoelace/dist/themes/light.css";

@font-face {
  font-family: "Josefin Sans";
  src: url("JosefinSans-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("Mulish-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("Mulish-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

:root {
  --header-fam: "Josefin Sans"; 
  --body-fam: "Mulish"; 
  --max-body-width: 960px;

  --electric-bright: #5dd6f5;
  --electric-dark: #517ef5;
  --deeper-bright: #0a0c4d;
  --deeper-dark: #0d0d0d;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--body-fam);
}
main {
  max-width: var(--max-body-width);
  margin: 0 auto;
}
main header {
  display: flex;
  align-items: center;
}
h1 {
  font-family: var(--header-fam);
  font-weight: 900;
  text-decoration: underline;
  color: var(--deeper-bright);
  text-decoration-color: var(--electric-bright);
  text-decoration-thickness: 10px;
  flex-grow: 1;
}
main header img {
  margin-right: -6px;
}
